<%- include("./partials/top") %>
  <main class="messages">
    <a href="/new">Send a new message</a>
    <section>
      <% if (messages.length) { %>
        <% messages.forEach(message=> { %>
          <article>
            <h2><%= message.user %></h2>
            <p><%= message.text %></p>
            <pre><%= message.added %></pre>
          </article>
        <% }); %>
      <% } else { %>
        <p>There are no messages.</p>
      <% } %>
    </section>
  </main>
<%- include("./partials/bottom") %>